@page "/userform"

<h3>User Form</h3>

<p class="text-success">
    @formResult
</p>

<p>
   First Name : @person.FirstName
</p>
<p>
   Last Name :  @person.LastName
</p>

<EditForm Model="person" OnValidSubmit="HandleOnSubmit"> 

    <InputText id="firstName" @bind-Value="@person.FirstName"></InputText>
    <InputText id="lastName" @bind-Value="@person.LastName"></InputText>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>


@code {
    private PersonModel person = new PersonModel();

    private string formResult = "";

    private void HandleOnSubmit()
    {
        formResult = $"A new user with name {person.FirstName} {person.LastName} was created.";
    }


}
